name: Test lib and docs

on:
    push:
        branches-ignore:
            - master
        tags-ignore:
            - "v*"
    pull_request:
        branches-ignore:
            - master
        tags-ignore:
            - "v*"
jobs:
    test-application:
        name: Test the Application
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v1
            -   name: Set up JDK 11
                uses: actions/setup-java@v1
                with:
                    java-version: 11
            -   name: Clean
                run: ./gradlew clean
            -   name: Test
                run: ./gradlew check
            -   name: Build
                run: ./gradlew assemble

    test-documentation-build:
        name: Test documentation build
        runs-on: ubuntu-latest
        steps:
            -   uses: actions/checkout@v1
            -   uses: actions/setup-node@v1
                with:
                    node-version: 12
                    registry-url: https://registry.npmjs.org/
            -   run: npm i -g @antora/cli@2.2 @antora/site-generator-default@2.2
            -   run: antora antora-playbook.yml
